/* This CSS resource incorporates links to font software which is the
   valuable copyrighted property of Type Network, Inc. and/or their
   suppliers. You may not attempt to copy, install, redistribute,
   convert, modify or reverse engineer this font software. Please
   contact Type Network with any questions: www.typenetwork.com */


	
@font-face {
	font-family: "Benton Mod Text It";
	font-display: auto;
	font-weight: normal;
	font-style: italic;
	
	src: url("//cloud.typenetwork.com/projectLicenseWeb/9908/fontfile/eot/?d8a7c03c86ab96eab0039b6fca3ff81ed844029b");
        src: url("//cloud.typenetwork.com/projectLicenseWeb/9908/fontfile/eot/?d8a7c03c86ab96eab0039b6fca3ff81ed844029b#iefix") format("embedded-opentype"),
             url("//cloud.typenetwork.com/projectLicenseWeb/9908/fontfile/woff2/?d8a7c03c86ab96eab0039b6fca3ff81ed844029b") format("woff2"),
             url("//cloud.typenetwork.com/projectLicenseWeb/9908/fontfile/woff/?d8a7c03c86ab96eab0039b6fca3ff81ed844029b") format("woff");

}
	
@font-face {
	font-family: "Benton Mod Text Reg";
	font-display: auto;
	font-weight: normal;
	font-style: normal;
	
	src: url("//cloud.typenetwork.com/projectLicenseWeb/9909/fontfile/eot/?d8a7c03c86ab96eab0039b6fca3ff81ed844029b");
        src: url("//cloud.typenetwork.com/projectLicenseWeb/9909/fontfile/eot/?d8a7c03c86ab96eab0039b6fca3ff81ed844029b#iefix") format("embedded-opentype"),
             url("//cloud.typenetwork.com/projectLicenseWeb/9909/fontfile/woff2/?d8a7c03c86ab96eab0039b6fca3ff81ed844029b") format("woff2"),
             url("//cloud.typenetwork.com/projectLicenseWeb/9909/fontfile/woff/?d8a7c03c86ab96eab0039b6fca3ff81ed844029b") format("woff");

}
	
@font-face {
	font-family: "Benton Mod Disp Semi Bd It";
	font-display: auto;
	font-weight: normal;
	font-style: italic;
	
	src: url("//cloud.typenetwork.com/projectLicenseWeb/9907/fontfile/eot/?d8a7c03c86ab96eab0039b6fca3ff81ed844029b");
        src: url("//cloud.typenetwork.com/projectLicenseWeb/9907/fontfile/eot/?d8a7c03c86ab96eab0039b6fca3ff81ed844029b#iefix") format("embedded-opentype"),
             url("//cloud.typenetwork.com/projectLicenseWeb/9907/fontfile/woff2/?d8a7c03c86ab96eab0039b6fca3ff81ed844029b") format("woff2"),
             url("//cloud.typenetwork.com/projectLicenseWeb/9907/fontfile/woff/?d8a7c03c86ab96eab0039b6fca3ff81ed844029b") format("woff");

}
	
@font-face {
	font-family: "Benton Mod Disp Bd";
	font-display: auto;
	font-weight: normal;
	font-style: normal;
	
	src: url("//cloud.typenetwork.com/projectLicenseWeb/9906/fontfile/eot/?d8a7c03c86ab96eab0039b6fca3ff81ed844029b");
        src: url("//cloud.typenetwork.com/projectLicenseWeb/9906/fontfile/eot/?d8a7c03c86ab96eab0039b6fca3ff81ed844029b#iefix") format("embedded-opentype"),
             url("//cloud.typenetwork.com/projectLicenseWeb/9906/fontfile/woff2/?d8a7c03c86ab96eab0039b6fca3ff81ed844029b") format("woff2"),
             url("//cloud.typenetwork.com/projectLicenseWeb/9906/fontfile/woff/?d8a7c03c86ab96eab0039b6fca3ff81ed844029b") format("woff");

}
