.user-signup-section .mysph-dropdown-menu li a {
  font-family: 'Mukta Malar', sans-serif;
  font-size: 14px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.79;
  letter-spacing: normal;
  color: #333333;
}

.user-signup-section .mysph-dropdown-menu .mysph-line {
  opacity: 0.3;
  border: 0.65px solid #000000;
}

.dropdown-toggle-up::after {
  display: inline-block;
  margin-left: 0.255em;
  content: "";
  border-bottom: 0.3em solid;
  border-right: 0.3em solid transparent;
  border-top: 0;
  border-left: 0.3em solid transparent;
  color: #b00141;
  vertical-align: middle;
}

.dropdown-toggle-down::after {
  display: inline-block;
  margin-left: 0.255em;
  content: "";
  border-top: 0.3em solid;
  border-right: 0.3em solid transparent;
  border-bottom: 0;
  border-left: 0.3em solid transparent;
  color: #b00141;
  vertical-align: middle;
}

.mysph-dropdown-menu.show {
  border: 0;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  border-radius: 0;
  margin-top: 0.6rem;
}

ul.mysph-dropdown-menu.show::before {
  margin-left: -10%;
  content: "";
  border-bottom: 0.5em solid;
  border-right: 0.3em solid transparent;
  border-top: 0;
  border-left: 0.3em solid transparent;
  color: #fff;
  vertical-align: middle;
  text-align: center;
  position: absolute;
  top: -14%;
  font-size: 30px;
}