.st-gamification {
  font-family: "Curator", sans-serif;
  font-size: 16px;
  max-width: 1200px;
  margin: 0 auto;
}
.st-gamification h1,
.st-gamification h2,
.st-gamification h3,
.st-gamification h4 {
  font-family: "SelaneWebSTTwenty", serif;
  line-height: 105%;
  font-weight: 200;
  margin: 0;
  margin-bottom: 8px;
  padding: 0;
}

.st-gamification h1 {
  font-size: 2.1875em;
}

.st-gamification h4 {
  font-size: 1.625em;
  font-weight: 400;
}

.st-gamification p {
  margin-bottom: 4px;
}

.st-gamification p.subtext {
  font-family: "SelaneWebSTTwenty", serif;
  font-weight: 200;
  font-size: 1.25em;
  line-height: 1.15em;
}

.st-gamification p.small-text {
  font-size: 0.875em;
}

.st-gamification body {
  color: #222222;
  background-color: #ffffff;
}

.st-gamification section {
  padding: 5px 0;
  border-top: solid 1px #b4b4b4;
  text-align: center;
}

.st-gamification section .section-header {
  border-top: solid 1px #b4b4b4;
  border-bottom: solid 1px #b4b4b4;
  padding: 10px 20px;
  text-transform: uppercase;
  position: relative;
}

.st-gamification section .section-header a.back {
  width: 15px;
  position: absolute;
  top: 10px;
  left: 10px;
  display: block;
}

.st-gamification section .section-header a.back img {
  width: 100%;
  height: auto;
}

.st-gamification section .section-body {
  padding: 16px 10px 8px;
  max-width: 1200px;
  margin: 0 auto;
  font-size: 16px;
}

.st-gamification img.icon {
  width: 1em;
}

.st-gamification a {
  color: #12239a;
}

.st-gamification a.view-more {
  text-transform: uppercase;
  color: #222222;
}

.st-gamification a.btn {
  display: inline-block;
  border-radius: 100px;
  text-align: center;
  color: #fff;
  background-color: #0c2b57;
  padding: 10px 39px;
  font-size: 0.9375em;
  margin: 8px 0 15px;
}

.st-gamification a.btn:visited {
  color: #fff;
}

.st-gamification a.btn.disabled {
  background-color: rgba(12, 43, 87, 0.3);
  pointer-events: none;
}

.st-gamification button.btn {
  display: inline-block;
  border-radius: 100px;
  text-align: center;
  color: #fff;
  background-color: #0c2b57;
  padding: 8px 30px 6px;
  font-size: 15px;
  margin: 8px 0 15px;
}

.st-gamification button.btn:hover {
  color: #fff;
  opacity: 0.8;
}

.st-gamification button.btn:visited {
  color: #fff;
}

.st-gamification button.btn:disabled {
  background-color: rgba(12, 43, 87, 0.3);
  pointer-events: none;
}

.st-gamification hr.short {
  max-width: 460px;
}

.st-gamification .spin-wheel-container {
  background-color: #fff;
}

.st-gamification .spin-wheel-container .wheel-container {
  position: relative;
  width: 100%;
  padding: 8px 0;
  max-width: 20em;
  margin: auto;
}

.st-gamification .spin-wheel-container .wheel-container .wheel {
  height: 18em;
  width: 18em;
  margin: auto;
  position: absolute;
  left: 50%;
  top: 0;
  margin-left: -9em;
}

.st-gamification .spin-wheel-container .wheel-container .wheel .wheel-rim {
  width: 100%;
  position: absolute;
  top: 0;
  z-index: 110;
}

.st-gamification .spin-wheel-container .wheel-container .wheel .wheel-rim img {
  width: 100%;
}

.st-gamification .spin-wheel-container .wheel-container .wheel .wheel-badge {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 5em;
  height: 5em;
  margin-left: -2.5em;
  margin-top: -2.5em;
  z-index: 10;
  border-radius: 50%;
  -webkit-box-shadow: 0 0 14px #333;
  box-shadow: 0 0 14px #333;
}

.st-gamification .spin-wheel-container .wheel-container .wheel .wheel-badge img {
  width: 100%;
  height: auto;
}

.st-gamification .spin-wheel-container .wheel-container .wheel .wheel-shadow {
  height: 18em;
  width: 18em;
  position: absolute;
  top: 0;
  overflow: hidden;
  z-index: 50;
  border-radius: 50%;
  -webkit-filter: contrast(206%);
  filter: contrast(206%);
  -webkit-box-shadow: inset 8px 18px 40px black;
  box-shadow: inset 8px 18px 40px black;
}

.st-gamification .spin-wheel-container .wheel-container .wheel .wheel-segments {
  height: 18em;
  width: 18em;
  background-color: #ccc;
  position: absolute;
  top: 0;
  list-style: none;
  overflow: hidden;
  z-index: 00;
  border-radius: 50%;
  -webkit-transform: rotate(-30deg);
  -ms-transform: rotate(-30deg);
  transform: rotate(-30deg);
}

.st-gamification .spin-wheel-container .wheel-container .wheel .wheel-segments li {
  overflow: hidden;
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
  height: 50%;
  -webkit-transform-origin: 0% 100%;
  -ms-transform-origin: 0% 100%;
  transform-origin: 0% 100%;
}

.st-gamification .spin-wheel-container .wheel-container .wheel .wheel-segments li .wheel-pie {
  position: absolute;
  left: -100%;
  width: 200%;
  height: 200%;
  line-height: 200%;
  text-align: center;
  -webkit-transform: skewY(30deg) rotate(30deg);
  -ms-transform: skewY(30deg) rotate(30deg);
  transform: skewY(30deg) rotate(30deg);
  color: #fff;
  padding: 8% 76% 125%;
  text-align: center;
  display: table;
}

.st-gamification .spin-wheel-container .wheel-container .wheel .wheel-segments li .wheel-pie span {
  display: table-cell;
  vertical-align: middle;
  line-height: 1em;
  font-size: 0.95em;
  padding: 0;
  margin: 0;
}

.st-gamification .spin-wheel-container .wheel-container .wheel .wheel-segments li:first-child {
  -webkit-transform: rotate(0deg) skewY(-30deg);
  -ms-transform: rotate(0deg) skewY(-30deg);
  transform: rotate(0deg) skewY(-30deg);
  background-image: -o-linear-gradient(75deg, #ff3633, #d92421);
  background-image: linear-gradient(15deg, #ff3633, #d92421);
}

.st-gamification .spin-wheel-container .wheel-container .wheel .wheel-segments li:nth-child(2) {
  -webkit-transform: rotate(60deg) skewY(-30deg);
  -ms-transform: rotate(60deg) skewY(-30deg);
  transform: rotate(60deg) skewY(-30deg);
  background-image: -o-linear-gradient(75deg, #1a5b8a, #113c59);
  background-image: linear-gradient(15deg, #1a5b8a, #113c59);
}

.st-gamification .spin-wheel-container .wheel-container .wheel .wheel-segments li:nth-child(3) {
  -webkit-transform: rotate(120deg) skewY(-30deg);
  -ms-transform: rotate(120deg) skewY(-30deg);
  transform: rotate(120deg) skewY(-30deg);
  background-image: -o-linear-gradient(75deg, #8858ab, #c751ba);
  background-image: linear-gradient(15deg, #8858ab, #c751ba);
}

.st-gamification .spin-wheel-container .wheel-container .wheel .wheel-segments li:nth-child(4) {
  -webkit-transform: rotate(180deg) skewY(-30deg);
  -ms-transform: rotate(180deg) skewY(-30deg);
  transform: rotate(180deg) skewY(-30deg);
  background-image: -o-linear-gradient(75deg, #009988, #00836e);
  background-image: linear-gradient(15deg, #009988, #00836e);
}

.st-gamification .spin-wheel-container .wheel-container .wheel .wheel-segments li:nth-child(5) {
  -webkit-transform: rotate(240deg) skewY(-30deg);
  -ms-transform: rotate(240deg) skewY(-30deg);
  transform: rotate(240deg) skewY(-30deg);
  background-image: -o-linear-gradient(75deg, #30bde6, #42acc1);
  background-image: linear-gradient(15deg, #30bde6, #42acc1);
}

.st-gamification .spin-wheel-container .wheel-container .wheel .wheel-segments li:nth-child(6) {
  -webkit-transform: rotate(300deg) skewY(-30deg);
  -ms-transform: rotate(300deg) skewY(-30deg);
  transform: rotate(300deg) skewY(-30deg);
  background-image: -o-linear-gradient(75deg, #ffa716, #ff8430);
  background-image: linear-gradient(15deg, #ffa716, #ff8430);
}

.st-gamification .spin-wheel-container .wheel-container .wheel .wheel-pointer {
  position: absolute;
  top: 0;
  left: 50%;
  width: 30px;
  margin-left: -15px;
  z-index: 200;
  -webkit-filter: drop-shadow(80%);
  filter: drop-shadow(80%);
}

.st-gamification .spin-wheel-container .wheel-container .wheel .wheel-pointer img {
  width: 100%;
  height: auto;
}

.st-gamification .spin-wheel-container .wheel-container .wheel-base {
  width: 100%;
  margin: auto;
  padding-top: 11em;
}

.st-gamification .spin-wheel-container .wheel-container .wheel-base img {
  width: 100%;
  height: auto;
}

.st-gamification .spin-wheel-container .cta-wrapper .btn-link {
  max-width: 100%;
  color: #fff;
  padding: 10px;
}

.st-gamification .tnc-footer-container {
  background-color: #eff3f4;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  z-index: 900;
  padding: 8px 0;
}

.st-gamification .tnc-footer-container p {
  font-size: 0.875em;
  padding: 0 13px;
}

.st-gamification .tnc-footer-container .close-tnc {
  position: absolute;
  right: 8px;
  cursor: pointer;
  padding: 0;
  top: 50%;
  margin-top: -14px;
}

.st-gamification .tnc-footer-container .close-tnc img {
  height: 13px;
  width: auto;
}

.st-gamification #overlayer {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 1001;
  top: 0;
  background: #fff;
}

.st-gamification #overlayer .loader {
  display: inline-block;
  width: 30px;
  height: 30px;
  position: absolute;
  z-index: 3;
  border: 4px solid #0c2b57;
  top: 50%;
  left: 50%;
  margin-left: -15px;
  margin-top: -15px;
  -webkit-animation: loader 2s infinite ease;
  animation: loader 2s infinite ease;
}

.st-gamification #overlayer .loader .loader-inner {
  vertical-align: top;
  display: inline-block;
  width: 100%;
  background-color: #0c2b57;
  -webkit-animation: loader-inner 2s infinite ease-in;
  animation: loader-inner 2s infinite ease-in;
}

.st-gamification .modal-dialog.custom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 90%;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.st-gamification .modal-dialog.custom .modal-content {
  height: auto;
  width: 100%;
}

.st-gamification .modal-dialog.custom .modal-content .modal-header {
  height: auto;
  border: 0;
}

.st-gamification .modal-dialog.custom .modal-content .modal-header .prize-imgholder {
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
  height: 218px;
  width: 100%;
  margin-top: 15px;
}

.st-gamification .modal-dialog.custom .modal-content .modal-header .close:before {
  font-family: IconFontST;
  font-size: 22px;
  line-height: 5px;
  color: #333333;
  position: absolute;
  top: 15px;
  right: 10px;
  content: "\e091";
  cursor: pointer;
}

.st-gamification .modal-dialog.custom .modal-content .modal-header .close {
  opacity: 1;
}

.st-gamification .modal-dialog.custom .modal-content .modal-body {
  padding: 8px 15px;
  font-size: 0.9375em;
  text-align: center;
}

.st-gamification .modal-dialog.custom .modal-content .modal-body .prize-heading {
  color: #333333;
  font-size: 1.125em;
  font-weight: 700;
  margin-bottom: 8px;
}

.st-gamification .modal-dialog.custom .modal-content .modal-body .prize-desc {
  margin-bottom: 15px;
}

.st-gamification .modal-dialog.custom .modal-content .modal-body button {
  margin-top: 8px;
}

.comp .comp-body {
  position: relative;
}

.comp.comp-meter .meter-container {
  padding: 15px;
  max-width: 750px;
  margin: 16px auto;
}

.comp.comp-meter .meter-container .meter-scale {
  height: 8px;
  border-radius: 50px;
  background-color: #e5e5e5;
  width: 100%;
  margin: auto;
  margin-bottom: 35px;
  position: relative;
  max-width: 642px;
}

.comp.comp-meter .meter-container .meter-scale .scale-reading {
  padding: 0;
  margin: 0;
  position: relative;
  width: 100%;
}

.comp.comp-meter .meter-container .meter-scale .scale-reading li {
  display: block;
  position: absolute;
  top: 12px;
  left: 0;
  text-align: center;
  width: 28px;
  height: 28px;
  padding-top: 5px;
}

.comp.comp-meter .meter-container .meter-scale .scale-reading li::before {
  content: '';
  width: 2px;
  height: 5px;
  background-color: #adb5bd;
  position: absolute;
  left: 50%;
  top: -2px;
  margin-left: -1px;
}

.comp.comp-meter .meter-container.read-three .meter-scale .scale-reading .here0 {
  left: 0%;
}

.comp.comp-meter .meter-container.read-three .meter-scale .scale-reading .here1 {
  left: 30%;
}

.comp.comp-meter .meter-container.read-three .meter-scale .scale-reading .here2 {
  left: 61%;
}

.comp.comp-meter .meter-container.read-three .meter-scale .scale-reading .here3 {
  left: 95%;
}

/* meter scale by optimize read*/
.comp.comp-meter .meter-container.read-five .meter-scale .scale-reading .here0 {
  left: 0%;
}

.comp.comp-meter .meter-container.read-five .meter-scale .scale-reading .here1 {
  left: 15%;
}

.comp.comp-meter .meter-container.read-five .meter-scale .scale-reading .here2 {
  left: 35%;
}

.comp.comp-meter .meter-container.read-five .meter-scale .scale-reading .here3 {
  left: 55%;
}

.comp.comp-meter .meter-container.read-five .meter-scale .scale-reading .here4 {
  left: 75%;
}

.comp.comp-meter .meter-container.read-five .meter-scale .scale-reading .here5 {
  left: 95%;
}


.comp.comp-meter .meter-container.read-seven .meter-scale .scale-reading .here0 {
  left: 0%;
}

.comp.comp-meter .meter-container.read-seven .meter-scale .scale-reading .here1 {
  left: 14%;
}

.comp.comp-meter .meter-container.read-seven .meter-scale .scale-reading .here2 {
  left: 28%;
}

.comp.comp-meter .meter-container.read-seven .meter-scale .scale-reading .here3 {
  left: 42%;
}

.comp.comp-meter .meter-container.read-seven .meter-scale .scale-reading .here4 {
  left: 56%;
}

.comp.comp-meter .meter-container.read-seven .meter-scale .scale-reading .here5 {
  left: 70%;
}

.comp.comp-meter .meter-container.read-seven .meter-scale .scale-reading .here6 {
  left: 84%;
}

.comp.comp-meter .meter-container.read-seven .meter-scale .scale-reading .here7 {
  left: 95%;
}

/* meter scale by optimize read*/

.comp.comp-meter .meter-container .meter-scale .scale-reading .here {
  background-image: url("/themes/custom/straitstimes/images/rewards/icon/star.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: #fff;
}

.comp.comp-meter .meter-container.read-three .meter-scale.one .meter-progress {
  width: 37%;
  padding: 0;
}

.comp.comp-meter .meter-container.read-three .meter-scale.one .current-tooltip {
  left: 30%;
}

.comp.comp-meter .meter-container.read-three .meter-scale.two .meter-progress {
  width: 67%;
  padding: 0;
}

.comp.comp-meter .meter-container.read-three .meter-scale.two .current-tooltip {
  left: 61%;
}

.comp.comp-meter .meter-container.read-three .meter-scale.three .meter-progress {
  width: 100%;
  padding: 0;
}

.comp.comp-meter .meter-container.read-three .meter-scale.three .current-tooltip {
  left: 92%;
}


/*read 5*/
.comp.comp-meter .meter-container.read-five .meter-scale.one .meter-progress {
  width: 18%;
  padding: 0;
}

.comp.comp-meter .meter-container.read-five .meter-scale.one .current-tooltip {
  left: 15%;
}

.comp.comp-meter .meter-container.read-five .meter-scale.two .meter-progress {
  width: 38%;
  padding: 0;
}

.comp.comp-meter .meter-container.read-five .meter-scale.two .current-tooltip {
  left: 35%;
}

.comp.comp-meter .meter-container.read-five .meter-scale.three .meter-progress {
  width: 58%;
  padding: 0;
}

.comp.comp-meter .meter-container.read-five .meter-scale.three .current-tooltip {
  left: 55%;
}

.comp.comp-meter .meter-container.read-five .meter-scale.four .meter-progress {
  width: 78%;
  padding: 0;
}

.comp.comp-meter .meter-container.read-five .meter-scale.four .current-tooltip {
  left: 75%;
}

.comp.comp-meter .meter-container.read-five .meter-scale.five .meter-progress {
  width: 100%;
  padding: 0;
}

.comp.comp-meter .meter-container.read-five .meter-scale.five .current-tooltip {
  left: 95%;
}
/*read 5*/

/*read 7*/
.comp.comp-meter .meter-container.read-seven .meter-scale.one .meter-progress {
  width: 17%;
  padding: 0;
}

.comp.comp-meter .meter-container.read-seven .meter-scale.one .current-tooltip {
  left: 14%;
}

.comp.comp-meter .meter-container.read-seven .meter-scale.two .meter-progress {
  width: 31%;
  padding: 0;
}

.comp.comp-meter .meter-container.read-seven .meter-scale.two .current-tooltip {
  left: 28%;
}

.comp.comp-meter .meter-container.read-seven .meter-scale.three .meter-progress {
  width: 45%;
  padding: 0;
}

.comp.comp-meter .meter-container.read-seven .meter-scale.three .current-tooltip {
  left: 42%;
}

.comp.comp-meter .meter-container.read-seven .meter-scale.four .meter-progress {
  width: 59%;
  padding: 0;
}

.comp.comp-meter .meter-container.read-seven .meter-scale.four .current-tooltip {
  left: 56%;
}

.comp.comp-meter .meter-container.read-seven .meter-scale.five .meter-progress {
  width: 73%;
  padding: 0;
}

.comp.comp-meter .meter-container.read-seven .meter-scale.five .current-tooltip {
  left: 70%;
}

.comp.comp-meter .meter-container.read-seven .meter-scale.six .meter-progress {
  width: 87%;
  padding: 0;
}

.comp.comp-meter .meter-container.read-seven .meter-scale.six .current-tooltip {
  left: 84%;
}

.comp.comp-meter .meter-container.read-seven .meter-scale.seven .meter-progress {
  width: 100%;
  padding: 0;
}

.comp.comp-meter .meter-container.read-seven .meter-scale.seven .current-tooltip {
  left: 95%;
}

/*read 5 & 7 */
@media (max-width: 739px) {
  .comp.comp-meter .meter-container.read-five .meter-scale.one .meter-progress {
    width: 20%;
    padding: 0;
  }

  .comp.comp-meter .meter-container.read-five .meter-scale.two .meter-progress {
    width: 40%;
    padding: 0;
  }

  .comp.comp-meter .meter-container.read-five .meter-scale.three .meter-progress {
    width: 60%;
    padding: 0;
  }

  .comp.comp-meter .meter-container.read-five .meter-scale.four .meter-progress {
    width: 80%;
    padding: 0;
  }

  .comp.comp-meter .meter-container.read-five .meter-scale.five .meter-progress {
    width: 100%;
    padding: 0;
  }

  .comp.comp-meter .meter-container.read-seven .meter-scale.one .meter-progress {
    width: 19%;
    padding: 0;
  }

  .comp.comp-meter .meter-container.read-seven .meter-scale.two .meter-progress {
    width: 33%;
    padding: 0;
  }

  .comp.comp-meter .meter-container.read-seven .meter-scale.three .meter-progress {
    width: 47%;
    padding: 0;
  }

  .comp.comp-meter .meter-container.read-seven .meter-scale.four .meter-progress {
    width: 61%;
    padding: 0;
  }

  .comp.comp-meter .meter-container.read-seven .meter-scale.five .meter-progress {
    width: 75%;
    padding: 0;
  }

  .comp.comp-meter .meter-container.read-seven .meter-scale.six .meter-progress {
    width: 89%;
    padding: 0;
  }

  .comp.comp-meter .meter-container.read-seven .meter-scale.seven .meter-progress {
    width: 100%;
    padding: 0;
  }
}

.comp.comp-meter .meter-container form.wheel-questionaire {
  padding: 8px 0;
}

.comp.comp-meter .meter-container form.wheel-questionaire .form-element {
  display: block;
}

.comp.comp-meter .meter-container form.wheel-questionaire .form-element label.options {
  border: solid 1px #0c2b57;
  padding: 5px  16px;
  border-radius: 500px;
  position: relative;
  font-weight: 300;
  min-width: 180px;
}

.comp.comp-meter .meter-container form.wheel-questionaire .form-element label.options:before {
  content: '';
  width: 22px;
  height: 22px;
  display: block;
  border-radius: 500px;
  border: solid 1px #0c2b57;
  position: absolute;
  top: 5px;
  left: 5px;
}

.comp.comp-meter .meter-container form.wheel-questionaire .form-element input[type='radio'] {
  display: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.comp.comp-meter .meter-container form.wheel-questionaire .form-element input[type='radio'].correct:checked + label:before {
  background-color: #0c2b57;
  background-image: url("/themes/custom/straitstimes/images/rewards/icon/tick-white.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 10px;
}

.comp.comp-meter .meter-container form.wheel-questionaire .form-element input[type='radio'].wrong:checked + label:before {
  background-color: #ef4123;
  border-color: #ef4123;
  background-image: url("/themes/custom/straitstimes/images/rewards/icon/cross-white.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 10px;
}

.comp.comp-meter .meter-container p.msg-text {
  font-size: 0.75em;
  color: #0c2b57;
}

.comp.comp-meter .meter-container p.msg-text.wrong {
  color: #ef4123;
}

.comp.comp-meter .meter-container .current-tooltip {
  background-color: #0c2b57;
  color: #fff;
  width: 60px;
  border-radius: 5px;
  padding: 4px;
  position: absolute;
  bottom: 15px;
  left: 0;
  margin-left: -15px;
  z-index: 500;
}

.comp.comp-meter .meter-container .current-tooltip:after {
  content: '';
  width: 10px;
  height: 10px;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid #0c2b57;
  position: absolute;
  bottom: -10px;
  left: 50%;
  margin-left: -10px;
}

.comp.comp-meter .meter-progress {
  height: 8px;
  border-radius: 50px;
  width: 1px;
  padding: 0 0 0 28px;
  background-color: #adb5bd;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 200;
}

.comp.comp-prize-gallery .container {
  padding: 0 8px;
  max-width: 800px;
}

.comp.comp-prize-gallery .prize-gallery .prize-single {
  padding: 8px;
}

.comp.comp-prize-gallery .prize-gallery .prize-single .prize-img {
  width: 100%;
  height: 100px;
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
}

.comp.comp-prize-gallery .prize-gallery .prize-single .prize-title {
  margin-top: 8px;
  min-height: 30px;
  text-align: left;
  line-height: 105%;
}

.comp.comp-my-rewards .container {
  padding: 0 8px;
  max-width: 800px;
}

.comp.comp-my-rewards .my-rewards .rewards-col {
  padding: 8px;
}

.comp.comp-my-rewards .my-rewards .rewards-col .rewards-img {
  width: 100%;
  height: 100px;
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
}

.comp.comp-my-rewards .my-rewards .rewards-col .reward-desc {
  text-align: left;
}

.comp.comp-my-rewards .my-rewards .rewards-col .reward-desc .prize-name {
  color: #12239a;
}

.comp.comp-my-rewards .my-rewards .rewards-col .reward-desc .prize-won {
  color: #b4b4b4;
}

.comp.comp-my-rewards .more-rewards {
  border-top: solid 1px #b4b4b4;
  padding: 15px;
  text-align: right;
}/*End of custom css*/@media only screen and (min-width: 501px) {
  .st-gamification .modal-dialog.custom .modal-content .modal-header {
    height: 250px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
  }

  .st-gamification .modal-dialog.custom .modal-content .modal-header .prize-imgholder {
    max-width: 350px;
    margin: 0 auto;
  }

  .st-gamification .modal-dialog.custom .modal-content .modal-body {
    padding: 15px 25px;
  }

  .comp.comp-meter .meter-container .meter-scale .scale-reading li:last-child {
    left: 95%;
  }

  .comp.comp-meter .meter-container.read-three .meter-scale.one .meter-progress {
    width: 35%;
  }

  .comp.comp-meter .meter-container.read-three .meter-scale.two .meter-progress {
    width: 65%;
  }

  .comp.comp-meter .meter-container.read-three .meter-scale.three .current-tooltip {
    left: 95%;
  }

  .comp.comp-prize-gallery .prize-gallery .prize-single .prize-img {
    height: 140px;
  }

  .st-gamification .modal-dialog.custom .modal-content .modal-header .prize-imgholder {
    margin-top: 25px !important;
  }

}

/*moe css starts*/
.comp.comp-meter .meter-container-moe {
  padding: 15px;
  max-width: 750px;
  margin: 16px auto;
}

.comp.comp-meter .meter-container-moe .meter-scale-moe {
  height: 8px;
  border-radius: 50px;
  background-color: #e5e5e5;
  width: 100%;
  margin: auto;
  margin-bottom: 35px;
  position: relative;
  max-width: 642px;
}

.comp.comp-meter .meter-container-moe .meter-scale-moe .scale-reading {
  padding: 0;
  margin: 0;
  position: relative;
  width: 100%;
}

.comp.comp-meter .meter-container-moe .meter-scale-moe .scale-reading li {
  display: block;
  position: absolute;
  top: 12px;
  left: 0;
  text-align: center;
  width: 28px;
  height: 28px;
  padding-top: 5px;
}

.comp.comp-meter .meter-container-moe .meter-scale-moe .scale-reading li::before {
  content: '';
  width: 2px;
  height: 5px;
  background-color: #adb5bd;
  position: absolute;
  left: 50%;
  top: -2px;
  margin-left: -1px;
}

.comp.comp-meter .meter-container-moe.read-three .meter-scale-moe .scale-reading .here0 {
  left: 0%;
}

.comp.comp-meter .meter-container-moe.read-three .meter-scale-moe .scale-reading .here1 {
  left: 30%;
}

.comp.comp-meter .meter-container-moe.read-three .meter-scale-moe .scale-reading .here2 {
  left: 61%;
}

.comp.comp-meter .meter-container-moe.read-three .meter-scale-moe .scale-reading .here3 {
  left: 95%;
}


.comp.comp-meter .meter-container-moe .meter-scale-moe .scale-reading .here {
  background-image: url("/themes/custom/straitstimes/images/rewards/icon/star.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: #fff;
}

.comp.comp-meter .meter-container-moe.read-three .meter-scale-moe.one .meter-progress {
  width: 37%;
  padding: 0;
}

.comp.comp-meter .meter-container-moe.read-three .meter-scale-moe.one .current-tooltip {
  left: 30%;
}

.comp.comp-meter .meter-container-moe.read-three .meter-scale-moe.two .meter-progress {
  width: 67%;
  padding: 0;
}

.comp.comp-meter .meter-container-moe.read-three .meter-scale-moe.two .current-tooltip {
  left: 61%;
}

.comp.comp-meter .meter-container-moe.read-three .meter-scale-moe.three .meter-progress {
  width: 100%;
  padding: 0;
}

.comp.comp-meter .meter-container-moe.read-three .meter-scale-moe.three .current-tooltip {
  left: 95%;
}


.comp.comp-meter .meter-container-moe form.wheel-questionaire {
  padding: 8px 0;
}

.comp.comp-meter .meter-container-moe form.wheel-questionaire .form-element {
  display: block;
}

.comp.comp-meter .meter-container-moe form.wheel-questionaire .form-element label.options {
  border: solid 1px #0c2b57;
  padding: 5px  16px;
  border-radius: 500px;
  position: relative;
  font-weight: 300;
  min-width: 180px;
}

.comp.comp-meter .meter-container-moe form.wheel-questionaire .form-element label.options:before {
  content: '';
  width: 22px;
  height: 22px;
  display: block;
  border-radius: 500px;
  border: solid 1px #0c2b57;
  position: absolute;
  top: 5px;
  left: 5px;
}

.comp.comp-meter .meter-container-moe form.wheel-questionaire .form-element input[type='radio'] {
  display: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.comp.comp-meter .meter-container-moe form.wheel-questionaire .form-element input[type='radio'].correct:checked + label:before {
  background-color: #0c2b57;
  background-image: url("/themes/custom/straitstimes/images/rewards/icon/tick-white.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 10px;
}

.comp.comp-meter .meter-container-moe form.wheel-questionaire .form-element input[type='radio'].wrong:checked + label:before {
  background-color: #ef4123;
  border-color: #ef4123;
  background-image: url("/themes/custom/straitstimes/images/rewards/icon/cross-white.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 10px;
}

.comp.comp-meter .meter-container-moe p.msg-text {
  font-size: 0.75em;
  color: #0c2b57;
}

.comp.comp-meter .meter-container-moe p.msg-text.wrong {
  color: #ef4123;
}

.comp.comp-meter .meter-container-moe .current-tooltip {
  background-color: #0c2b57;
  color: #fff;
  width: 60px;
  border-radius: 5px;
  padding: 4px;
  position: absolute;
  bottom: 15px;
  left: 0;
  margin-left: -15px;
  z-index: 500;
}

.comp.comp-meter .meter-container-moe .current-tooltip:after {
  content: '';
  width: 10px;
  height: 10px;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid #0c2b57;
  position: absolute;
  bottom: -10px;
  left: 50%;
  margin-left: -10px;
}
/*moe css ends*/


@-webkit-keyframes loader {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  25% {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
  }

  50% {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
  }

  75% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes loader {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  25% {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
  }

  50% {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
  }

  75% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-webkit-keyframes loader-inner {
  0% {
    height: 0%;
  }

  25% {
    height: 0%;
  }

  50% {
    height: 100%;
  }

  75% {
    height: 100%;
  }

  100% {
    height: 0%;
  }
}

@keyframes loader-inner {
  0% {
    height: 0%;
  }

  25% {
    height: 0%;
  }

  50% {
    height: 100%;
  }

  75% {
    height: 100%;
  }

  100% {
    height: 0%;
  }
}


/*Starts of Streak css*/.comp .comp-body {
  position: relative;
}

.comp.comp-streak-welcome .section-body {
  text-align: left;
}

.comp.comp-streak-welcome .section-body .welcome-img {
  width: 100%;
}

.comp.comp-streak-welcome .section-body .welcome-img img {
  width: 100%;
}

.comp.comp-streak-welcome .section-body a.btn {
  margin-bottom: 32px;
}

.comp.comp-streak-meter .streak-questionaire {
  display: none;
}

.comp.comp-streak-meter .streak-questionaire .wheel-questionaire {
  padding: 8px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  margin: 0 auto;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.comp.comp-streak-meter .streak-questionaire .wheel-questionaire .form-element {
  display: block;
  margin: 0 24px;
}

.comp.comp-streak-meter .streak-questionaire .wheel-questionaire .form-element label.options {
  border: solid 1px #0c2b57;
  padding: 5px 16px;
  border-radius: 500px;
  position: relative;
  font-weight: 300;
  min-width: 180px;
}

.comp.comp-streak-meter .streak-questionaire .wheel-questionaire .form-element label.options:before {
  content: '';
  width: 22px;
  height: 22px;
  display: block;
  border-radius: 500px;
  border: solid 1px #0c2b57;
  position: absolute;
  top: 5px;
  left: 5px;
}

.comp.comp-streak-meter .streak-questionaire .wheel-questionaire .form-element input[type='radio'] {
  display: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.comp.comp-streak-meter .streak-questionaire .wheel-questionaire .form-element input[type='radio'].correct:checked + label:before {
  background-color: #0c2b57;
  background-image: url("/themes/custom/straitstimes/images/rewards/icon/tick-white.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 10px;
}

.comp.comp-streak-meter .streak-questionaire .wheel-questionaire .form-element input[type='radio'].wrong:checked + label:before {
  background-color: #ef4123;
  border-color: #ef4123;
  background-image: url("/themes/custom/straitstimes/images/rewards/icon/cross-white.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 10px;
}

.comp.comp-streak-onboarding .onboarding-single {
  margin: 24px;
}

.comp.comp-streak-onboarding .onboarding-single .onboarding-img {
  width: 100%;
}

.comp.comp-streak-onboarding .onboarding-single .onboarding-img img {
  width: 100%;
}

.no-rewards {
  width: 100%;
  max-width: 155px;
  margin: 16px;
}

.streak-progress-window {
  overflow: hidden;
  width: 100%;
}

.streak-progress-container {
  margin: 24px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.streak-progress-container .streak-progress-single {
  position: relative;
  padding: 0 5px;
}

.streak-progress-container .streak-progress-single:first-child {
  padding: 0 5px 0 0;
}

.streak-progress-container .streak-progress-single:last-child {
  padding: 0 0 0 5px;
}

.streak-progress-container .streak-progress-single:last-child .streak-progress-bar::after {
  display: none;
}

.position {
  margin: 0;
}

.streak-progress-bar {
  position: relative;
  height: 110px;
  width: 110px;
  background-color: transparent;
  border: 0;
}

.streak-progress-bar::after {
  content: '';
  background-image: url(/themes/custom/straitstimes/images/rewards/icon/streak-arrow-right.svg);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  width: 40px;
  height: 30px;
  position: absolute;
  top: 50%;
  right: -28px;
  margin-top: -12px;
  z-index: 99;
}

.streak-progress-bar.upcoming {
  zoom: 0.8;
}

.streak-progress-bar.wip {
  margin: 0 10px;
}

.streak-progress-bar.wip::after {
  zoom: 0.85;
  right: -40px;
}

.streak-progress-bar.completed {
  zoom: 0.8;
}

.streak-progress-bar lottie-player {
  position: absolute;
  z-index: 0;
  left: -30%;
  top: -30%;
}

.streak-progress-bar div {
  position: absolute;
  height: 110px;
  width: 110px;
  border-radius: 50%;
}

.streak-progress-bar div.progress-count {
  width: 30px;
  height: 30px;
  border: solid 2px #2dabdf;
  z-index: 99;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  left: 50%;
  margin-left: -15px;
  top: -10px;
}

.streak-progress-bar div.streak-progress-icon {
  height: 88px;
  width: 88px;
  top: 50%;
  left: 50%;
  margin-left: -44px;
  margin-top: -44px;
}

.streak-progress-bar div.streak-progress-icon.upcoming {
  background-image: url(/themes/custom/straitstimes/images/rewards/placeholders/read-inactive-icon.png);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
}

.streak-progress-bar div.streak-progress-icon.upcoming.prize {
  background-image: url(/themes/custom/straitstimes/images/rewards/placeholders/prize-inactive-icon.png);
}

.streak-progress-bar div.streak-progress-icon.wip {
  background-image: url(/themes/custom/straitstimes/images/rewards/placeholders/read-icon.png);
  background-repeat: no-repeat;
  background-size: 60%;
  background-position: center;
  background-color: #fff;
}

.streak-progress-bar div.streak-progress-icon.wip.prize {
  background-image: url(/themes/custom/straitstimes/images/rewards/placeholders/prize-icon.png);
}

.streak-progress-bar div.streak-progress-icon.completed {
  background-image: url(/themes/custom/straitstimes/images/rewards/placeholders/read-done-icon.png);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
  background-color: #fff;
}

.streak-progress-bar div.streak-progress-icon.completed.prize {
  background-image: url(/themes/custom/straitstimes/images/rewards/placeholders/prize-done-icon.png);
}

.streak-progress-bar div span {
  position: absolute;
  font-family: Arial;
  font-size: 16px;
  line-height: 82.5px;
  height: 82.5px;
  width: 82.5px;
  left: 13.75px;
  top: 13.75px;
  text-align: center;
  border-radius: 50%;
  background-color: transparent;
}

.streak-progress-bar .background {
  background-color: #efefef;
}

.streak-progress-bar .rotate {
  clip: rect(0 55px 110px 0);
  background-color: #2dabdf;
}

.streak-progress-bar .left {
  clip: rect(0 55px 110px 0);
  opacity: 1;
  background-color: #efefef;
}

.streak-progress-bar .right {
  clip: rect(0 55px 110px 0);
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
  opacity: 0;
  background-color: #2dabdf;
}/*End of custom css*/@media only screen and (max-width: 600px) {
  .comp.comp-streak-welcome .section-body .welcome-text {
    text-align: center;
  }

  .comp.comp-streak-welcome .section-body .welcome-img {
    max-width: 60%;
    margin: 0 auto;
  }

  .comp.comp-streak-meter .streak-questionaire .wheel-questionaire {
    display: block;
  }

  .comp.comp-streak-onboarding .onboarding-single {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .comp.comp-streak-onboarding .onboarding-single .onboarding-img {
    max-width: 120px;
  }

  .comp.comp-streak-onboarding .onboarding-single .onboarding-txt {
    text-align: left;
    padding-left: 16px;
  }

  .streak-progress-container {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }
}

@-webkit-keyframes toggle {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes toggle {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
/*streaks css ends*/

@media (max-width: 739px) {
  .reward_username {
    font-size: 30px;
    word-break: break-word;
  }
  .prize-imgholder {
    max-width: 340px !important;
    margin: 0 auto;
  }
}

.prize-gallery .rewards-note {
  padding: 8px;
}

.st-gamification .modal-header {
  display: inline-block !important;
}

@media (min-width: 740px) {
  .modal-dialog {
    width: 600px !important;
    max-width: 600px !important;
    margin: 30px auto !important;
  }
}

.st-gamification .top-section section {
  border-top: 0px !important;
}

.st-gamification .top-section section .section-body {
  padding-top: 0px !important;
}
